COMPOSE_PROJECT_NAME=tucolmadord
POSTGRES_DB=TuColmadoDb
POSTGRES_USER=admin_colmado
POSTGRES_PASSWORD=ArroZZ12hju.,
MONGO_INITDB_ROOT_USERNAME=tucolmadord
MONGO_INITDB_ROOT_PASSWORD=ArroZZ12hju.,
JWT_SECRET=88f121e5fce88ce943349608a5c2cbd9fa04165dc49180bd5d3c0e8c5dd07d
JWT_EXPIRES_IN=7d

PUBLIC_WEB_DOMAIN=app.tucolmadord.com
PUBLIC_WEB_URL=https://app.tucolmadord.com
PUBLIC_LANDING_DOMAIN=tucolmadord.com
PUBLIC_API_DOMAIN=api.tucolmadord.com

# ── Traefik / Let's Encrypt ────────────────────────────────────────
ACME_EMAIL=admin@tucolmadord.com

LANDING_PORT=8082
WEB_PORT=8083
API_PORT=8081
CORE_PORT=8080
AUTH_PORT=3000
POSTGRES_PORT=5432
MONGO_PORT=27017
